* { margin: 0; padding: 0; }

body {
  background: #fff;
  color: #333;
  font: 300 87.5%/1.5 "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  margin: 0 auto;
  padding-top: 3em;
  width: 940px;
}

h1 {
  color: #000;
  font-size: 2.1429em;
  font-weight: 300;
  line-height: 1.4001;
  margin-bottom: 1.4em;
}

strong {
  font-family: "Helvetica Neue", "HelveticaNeue", Calibri, Helvetica, Arial;
  font-weight: bold;
}

p {
  margin-bottom: 3em;
  max-width: 620px;
}

#projects-overview + p {
  clear: both;
}

#availability {
  float: right;
  width: 300px;
}

#availability h2 {
  color: #000;
  font: bold 1.2857em/1.1668 "Helvetica Neue", "HelveticaNeue", Calibri, Helvetica, Arial;
}

#projects-overview h2 {
  color: #000;
  font-size: 1.2858em;
  font-weight: bold;
  line-height: 1.1667;
  margin-bottom: 1.1667em;
}

#projects-overview {
  clear: both;
  margin-top: -3em;
}

#projects-overview li {
  float: left;
  list-style: none;
  margin-right: 20px;
  margin-top: 3em;
  width: 300px;
}

#projects-overview li.third-child {
  margin-right: 0;
}

#projects-overview a {
  background: #808080;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
}

#projects-overview a:hover {
  background: #dafb5c;
  background: #000;
}

#projects-overview img {
  border: 10px solid #808080;
  display: block;
  margin-bottom: 15px;
}

#projects-overview a img {
  border: none;
  margin: 0;
}

#projects-overview a .zoom {
  background: url(fancybox/zoom.png) no-repeat;
  display: block;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  background: #dafb5c;
  background: #000;
  color: #fff;
  text-decoration: none;
}

#projects-overview h2 a,
#fancy_div h2 a {
  background: none;
  color: #000;
  display: inline;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 10px;
  padding: 0;
}

#projects-overview h2 a:hover,
#fancy_div h2 a:hover {
  background: #000;
  color: #fff;
}

#projects-overview h2 a:after,
#fancy_div h2 a:after {
  content: " \00BB";
}

#projects {
  display: none;
}

div.scroll-wrapper {
  background: #fff;
  overflow: hidden;
  position: relative;
  width: 980px;
}

#fancy_div {
  background: #fff url(fancybox/thumb_menu_bg.png) repeat-x left bottom;
}

#fancy_div h2 {
  background: #f2f2f2 url(fancybox/title_bg.png) repeat-x left top;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  height: 21px;
  line-height: 21px;
  padding: 10px 20px;
}

ul.project-detail {
  width: 980px;
}

ul.project-detail li {
  float: left;
  list-style: none;
  overflow: auto;
  padding: 20px;
  position: relative;
  width: 940px;
}

ul.project-detail img {
  float: left;
}

ul.project-detail h3 {
  color: #000;
  font-size: 1.2858em;
  font-weight: bold;
  line-height: 1.1667;
  margin-bottom: 1.1667em;
  margin-left: 640px;
}

ul.project-detail p {
  clear: none;
  margin-bottom: 1.5em;
  margin-left: 640px;
  width: auto;
}

ul.project-detail-menu {
  clear: both;
  display: table;
  margin: 0 auto;
  text-align: center;
}

ul.project-detail-menu li.selected {
  background: #808080 url(fancybox/thumb_menu_highlight.png) repeat-x;
}

ul.project-detail-menu li {
  display: table-cell;
  list-style: none;
  padding: 10px;
}

ul.project-detail-menu img {
  display: block;
}
